
h1, h2, h3 {
    color: rgb(102, 91, 91);
}

h2, h3 {
    text-align: justify;
    text-align: center;
    margin: 10% 0;
}

h1 {
    background-color: honeydew;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: solid 3px;
    border-radius: 0px 60px 0px 60px;
    box-shadow: 12px 12px 12px grey;
    text-shadow: 3px 3px 3px grey;
    padding-bottom: 35px;
    
}

h2 {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 60px;
    
}

h3 {
    text-decoration: underline;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    margin: 10%;
}

li {
    font-size : 1.2em;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(114, 103, 103);
    text-align: left;
}


.italic {
    font-style: italic;
    font-size: 0.8em;
}

body {
    background-color: #c0c0c061;
}

.photo {
    width : 160px;
    height: 190px;
    border: solid 2px black;
    border-radius: 25px 0px 25px 0px;
    position: relative;
    margin-top: 6%;

}

h2, .photo {
    box-shadow: 8px 8px 8px grey;  
}

/* Navigation*/

header {
    background-color: rgba(219, 212, 181, 0.7);
}

h2.header {
    font-size: 1,1em;
    color: rgb(102, 91, 91);
}

.info {
    font-size : 1em;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(114, 103, 103);
}

.info:hover {
    font-size: 1.2em;
}

.interet {
    list-style-type: none;
}

ul.interet {
    margin-left: 0;
    padding-left: 0;
}

/* Disposition de la page*/

article {
    width: 65%;
    height: 100vh;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar { 
    display: none; /* Chrome Safari */
}

header {
    width: 30%;
    position: sticky;
}

body {
    margin: 5% 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
       
}